# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
