* text eol=lf
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.flv binary
*.pdf binary
*.rtf binary
*.pub binary
*.doc binary
*.docx binary
*.dotx binary
*.xls binary
*.xlsx binary
*.xltx binary
*.ppt binary
*.pptx binary
*.potx binary
*.sldx binary
*.vsd binary
*.vsdx binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.bin binary
*.tgz binary
*.zip binary
*.rar binary
